.venv/
__pycache__/
*.py[cod]
.pytest_cache/
*.egg-info/
dist/
build/
**/.DS_Store

# Audio formats
*.aac
*.aiff
*.alac
*.flac
*.m4a
*.mp3
*.ogg
*.opus
*.wav
*.wma

# Video formats
*.avi
*.flv
*.m4v
*.mkv
*.mov
*.mp4
*.mpg
*.mpeg
*.ogv
*.ts
*.webm
*.wmv

# Subtitle formats
*.ass
*.srt
*.ssa
*.vtt

# Keep sample test assets
tests/assets/*
